execute pathogen#infect()
syntax on
filetype plugin indent on
filetype plugin on
filetype indent on

set background=dark
set t_Co=256

set magic
set nu
set nocompatible
imap jj <Esc>

set statusline+=%#warningmsg#
set statusline+=%{SyntasticStatuslineFlag()}
set statusline+=%*

"""" Clipboard
noremap <Leader>y "*y
noremap <Leader>p "*p
noremap <Leader>Y "+y
noremap <Leader>P "+p


{% if solarized == "present" or solarized == "skip" %}
{% if solarized == "skip" %}
"This block might be unnecessary
{% endif %}
"""" Solarized
colorscheme solarized
highlight LineNr ctermbg=8
highlight LineNr ctermfg=NONE
highlight Normal ctermbg=NONE
highlight Normal ctermfg=NONE
{% endif %}


{% if syntastic == "present" or syntastic == "skip" %}
{% if syntastic == "skip" %}
"This block might be unnecessary
{% endif %}
"""" Syntastic
let g:syntastic_always_populate_loc_list = 1
let g:syntastic_auto_loc_list = 1
let g:syntastic_check_on_open = 1
let g:syntastic_check_on_wq = 0
let g:syntastic_go_checkers = ['golint', 'govet', 'errcheck']
let g:syntastic_mode_map = { 'mode': 'active', 'passive_filetypes': ['go'] }
{% endif %}


{% if neocomplete == "present" or neocomplete == "skip" %}
{% if neocomplete == "skip" %}
"This block might be unnecessary
{% endif %}
"""" Neocomplete
let g:neocomplete#enable_at_startup = 1
let g:neocomplete#enable_smart_case = 1
{% endif %}


{% if go == "present" or go == "skip" %}
{% if go == "skip" %}
"This block might be unnecessary
{% endif %}
"""" vim-go
let g:go_highlight_functions = 1
let g:go_highlight_methods = 1
let g:go_highlight_structs = 1
let g:go_highlight_interfaces = 1
let g:go_highlight_operators = 1
let g:go_highlight_build_constraints = 1
let g:go_list_type = "quickfix"
au FileType go nmap <leader>r <Plug>(go-run)
{% endif %}


{% if nerdtree == "present" or nerdtree == "skip" %}
{% if nerdtree == "skip" %}
"This block might be unnecessary
{% endif %}
"""" Nerdtree
autocmd StdinReadPre * let s:std_in=1
autocmd VimEnter * if argc() == 0 && !exists("s:std_in") | NERDTree | endif
map <F7> :NERDTreeToggle<CR>
let NERDTreeShowHidden=1
"autopen NERDTree and focus cursor in new document
"autocmd VimEnter * NERDTree
"autocmd VimEnter * wincmd p
{% endif %}


{% if tagbar == "present" or tagbar == "skip" %}
{% if tagbar == "skip" %}
"This block might be unnecessary
{% endif %}
"""" Tagbar
nmap <F8> :TagbarToggle<CR>

"""" GoTags
let g:tagbar_type_go = {
    \ 'ctagstype' : 'go',
    \ 'kinds'     : [
        \ 'p:package',
        \ 'i:imports:1',
        \ 'c:constants',
        \ 'v:variables',
        \ 't:types',
        \ 'n:interfaces',
        \ 'w:fields',
        \ 'e:embedded',
        \ 'm:methods',
        \ 'r:constructor',
        \ 'f:functions'
    \ ],
    \ 'sro' : '.',
    \ 'kind2scope' : {
        \ 't' : 'ctype',
        \ 'n' : 'ntype'
    \ },
    \ 'scope2kind' : {
        \ 'ctype' : 't',
        \ 'ntype' : 'n'
    \ },
    \ 'ctagsbin'  : 'gotags',
    \ 'ctagsargs' : '-sort -silent'
    \ }

{% endif %}


{% if ansible == "present" or ansible == "skip" %}
{% if ansible == "skip" %}
"This block might be unnecessary
{% endif %}
let g:ansible_attribute_highlight = "ad"
let g:ansible_name_highlight = 'd'
{% endif %}
